


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <div id="banner">
      <div id="cloud-scroll"></div>
    </div>
    
    
    <div class="textbox">
        <h1>Manganyi Hotel</h1>
      <p><strong>Relax, soak up the sun. Enjoy. You deserve it.</strong></p>
      <div class="button">
            <button type="button" (click)="onLogin()">find out more</button>
        </div>
    </div>