<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
 


    <!-- Page Content -->
   <div class="container page-top">



        <div class="row">


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <p>Back view from cabbins</p>
                <a href='/assets/img/seats.jpeg' class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/seats.jpeg' class="zoom img-fluid "  alt="">
                   
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <p>Our cabbins</p>
                <a href= '/assets/img/pexels-photo-1756826.jpeg' class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/pexels-photo-1756826.jpeg'  class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <p>Kids Pool</p>
                <a href= '/assets/img/pexels-photo-261348.jpeg'  class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/pexels-photo-261348.jpeg' class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
<p>Hotel Bar</p>
                <a href='/assets/img/people-hotel-bar-drinks.jpg'  class="fancybox" rel="ligthbox">
            
                <img  src='/assets/img/people-hotel-bar-drinks.jpg'  class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <p>Hotel</p>
                <a href='/assets/img/pexels-photo-1375383.jpeg' class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/pexels-photo-1375383.jpeg'  class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <p>Bathrooms</p>
                <a href='/assets/img/pexels-photo-105934.jpeg' class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/pexels-photo-105934.jpeg' class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <p>Bedroom</p>
                <a href= '/assets/img/pexels-photo-271624.jpeg' class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/pexels-photo-271624.jpeg' class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <p>Adults pools</p>
                <a href='/assets/img/pexels-photo-189296.jpeg' class="fancybox" rel="ligthbox">
                    <img  src='/assets/img/pexels-photo-189296.jpeg' class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            
           
           
       </div>

     
      

    </div>

