






 <form id="form-container" action="https://oasisresort.gr/index.php/booking-form/">
    <div class="check">
      <label style="padding-left:15px;">CHECK IN</label>
      <input type="date" name="checkin"/></div>
    <div class="check">
    <label>CHECK OUT</label>
      <input type="date" name="checkout"/></div>
    
    
  <div class="persons">
      <label style="padding-left:20px;">People</label>
      <select style="width:60px; height:48px; background-color:#D7E5F8; border-style:none; font-size:15px;" name="adults">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

</div>
    <div class="booknow">
     
      <button (click)="onClick()">Submit <i class="glyphicon glyphicon-send"></i></button>
    </div>
  </form>




  

 

      
 

    

    


           <head>
            <meta charset="utf-8">
          <title>Document</title>
          <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        </head>
    
        <body>
          

          
      <div class="container content">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <img src='/assets/img/pexels-photo-271643.jpeg' class="img-responsive">
          <h2><strong>Description</strong></h2>
          <p class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
         <h2><strong>Services</strong></h2>
             <ul class="list-service">
              <li><i class="fa fa-coffee" aria-hidden="true"></i> Breakfast Service ($)</li>
              <li><i class="fa fa-bus" aria-hidden="true"></i> Transfers in/out ($) </li>
              <li><i class="fa fa-television" aria-hidden="true"></i> TV</li>
              <li><i class="fa fa-glass" aria-hidden="true"></i> Welcome cocktail</li>
              <li><i class="fa fa-music" aria-hidden="true">     </i> Music</li>
              <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
             </ul>
              </div>
              
             
          
        
        <div class="liz-navbar">
          <div class="liz-navbar-title">Nearby points of interests</div>
          
            <ul class="list-interest">
              <li><a href="#old square">The Old Square</a></li>
              <li><a href="#museum of flowers">The Museum of Flowers</a></li>
              <li><a href="#green river">The Green River</a></li>
              <li><a href="#wax museum">The Wax Museum</a></li>
              <li><a href="#calic hill">The Calic Hill</a></li>
              <li><a href="#beer museum">The Beer Museum</a></li>
            </ul>
        </div> 
        </div>    
        </div>
          
    
     
    