
  <body>
      
      <div class="container">
      <div class="login-form">
        
        <h2>You have successfully booked your room</h2>
        <hr class="to-right">
        <hr class="to-left">
        
          <div class="container-login">
        
            <label>Name</label>
            <input type="text" value="{{name}}" placeholder="Enter your name">
            <label>Surname</label>
            <input type="text" value="{{surname}}"placeholder="Enter your surname">
            <label>Email</label>
            <input type="text" value="{{email}}"placeholder="Enter your email">
            <label>Adults</label>
            <input type="text"value="{{location}}" placeholder="Number of adults">
          
            <label>Children</label>
            <input type="text" value="{{number}}" placeholder="Number of children" >
          </div>
            
            
            
            <button>Click here to make Payments</button>
            
            <div class="login-footer">
              <a href=""><i class="fa fa-exclamation-circle"></i> Forgot your password ?</a>
              <a href=""><i class="fa fa-thumbs-up"></i> Create an account </a>
            </div>
      
      
      </div>
      </div> 
        
    
     
    
    </body>
    
    